body {
  background: #f4f6f8;
  font-family: Arial;
}

.container {
  width: 350px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

input,
button {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
